:root{
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1a9af7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #fff;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center ;
}
.header-title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}
.header-title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;/*es la dimension/tamaño que se tiene entre lineas*/
    color: var(--just-white);
}
.header-title-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
/*boton "flotante" prq esta entre dos secciones una parte en una y otra parte en otra*/

.header-button{
    position: absolute;
    left: calc(50% - 118px);/*la funcion calc sirve para hacer un calculo...ahi le estamos diciendo que tenga
    un espacio de izquierda del 50% del contenedor donde esta y para que no se vaya tanto se le resta 118px*/
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89,73,30,0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}
.header-button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("./assets/icons/down-arrow.svg");
}
.header-button:hover{
    transition: all 1s;
    background: linear-gradient(207.8deg, #8606ad 13.69%, #cf1895 100%);
    color: var(--just-white);
}
main{
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}
.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.main-exchange-container-title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.background-img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url("./assets/img/Bitcoin.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-exchange-container-title h2{
    margin-bottom: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    height: 2.6rem;
    color: var(--black);
}
.main-exchange-container-title p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    color: #757575;
}

.main-currency-table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}
.currency-table-title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}
.currency-table-container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}
.currency-table-container table{
    width: 100%;
    height: 100%;
}
.currency-table-container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500px;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}
.table__top-left{
    border-radius: 15px 0 0 0;
}
.table__top-right{
    border-radius: 0 15px 0 0;
}
.table__bottom-left{
    border-radius: 0 0 0 15px;
}
.table__bottom-right{
    border-radius: 0 0 15px 0;
}
/*------------------aca hubo un problema de herencia y lo solucionamos poniendo <p> con clases, oseas siendo mas especificos-----------------------*/
.table__right .p{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #331e1e;
}
/*-------------------------------------------------------------------------------------------------------------------------------------------------*/
.currency-table-container .down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("./assets/icons/trending-down.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table-container .up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("./assets/icons/trending-up.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table-date{
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}
.currency-table-date p{
    font-size: 12px;
    color: var(--warm-black);
    line-height: 1.5rem;
}
.main-product-detail{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}
.product-detail-batata-logo{
    position: absolute;
    width: 40px;
    height: 25px;
    background-image: url("./assets/icons/batata.svg");
    top: -10px;
    left: calc(50% - 20px);;
}
.product-detail-title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.product-detail-title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.product-detail-title p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
/*--------------------------------------------*/
.product-detail-card{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.clock{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("./assets/icons/clock.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.eye{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("./assets/icons/eye.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.money{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("./assets/icons/dollar-sign.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.check{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("./assets/icons/check-circle.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product-card-title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.product-card-body{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.bitcoin-img-container{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url("./assets/img/bitcoinbaby2x.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.bitcoin-img-container h2{
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.main-plans-container{
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}
.plans-title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 40px;
}
.plans-title h2{
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.plans-title p{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.plans-card{
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 50px 5px 0;
    padding: 0 15px;
    background: linear-gradient(to right, #d4ac95, #b86212);
    border-radius: 15px;
    border: 3px white solid;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}
.free{
    position: absolute;
    width: 120px;
    height: 31px;
    left: calc(50% - 60px);
    top: -15px;
    font-size: 1.2rem;
    padding: 6px;
    background:rgb(180, 98, 5);
    border-radius: 8px;
    color: white;
}
.plan-card-title{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: white;
}
.plan-card-price{
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 6.3rem;
    color: white;
    font-family: 'DM Sans', sans-serif;
}
.plan-card-price span{
    font-size: 5.2rem;
    font-weight: 300;
    left: 57px;
    top: -2px;
}
.plan-card-saving {
    font-size: 1.2rem;
    color: white;
}
.plan-card-ca{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background: linear-gradient(to right, #e0b196, #b06825);
    border: 2px solid white;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: white;
    font-family: 'DM Sans', sans-serif;
}
.plan-card-ca span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("./assets/icons/orange-right-arrow.svg");
    vertical-align: text-bottom;
}

.plans-card-r{
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 50px 5px 0;
    padding: 0 15px;
    background: linear-gradient(to right, #c4c7c7, #8e9eab);
    border-radius: 15px;
    border: 3px rgb(255, 255, 255) solid;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}
.recomended{
    position: absolute;
    width: 120px;
    height: 31px;
    left: calc(50% - 60px);
    top: -15px;
    font-size: 1.2rem;
    padding: 6px;
    background-color: rgb(140, 140, 140);
    border-radius: 8px;
    border: 1px rgb(255, 255, 255) solid;
    color: white;
}
.plan-card-title-r{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: white;
}
.plan-card-price-r{
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 6.3rem;
    color: white;
    font-family: 'DM Sans', sans-serif;
}
.plan-card-price-r span{
    font-size: 5.2rem;
    font-weight: 300;
    left: 57px;
    top: -2px;
}
.plan-card-saving-r{
    font-size: 1.2rem;
    color: #f5f5f5;
}
.plan-card-ca-r{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background: linear-gradient(to right, #c4c7c7, #8e9eab);
    border: 2px solid white;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: #f5f5f5;
    font-family: 'DM Sans', sans-serif;
}

.plans-card-p{
    position: relative;
    scroll-snap-align: center /*esto tiene que ver con el tema del scrool, lo que hacer es que
    al momento de hacer scrool este se centre en el elemento*/;
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 50px 5px 0;
    padding: 0 15px;
    background: linear-gradient(to right, #434343, #000000); 
    border-radius: 15px;
    border: 3px #e9d362 solid;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}
.premiun{
    position: absolute;
    width: 120px;
    height: 31px;
    left: calc(50% - 60px);
    top: -15px;
    font-size: 1.2rem;
    padding: 6px;
    background: linear-gradient(to right, #65654a, #e9d362); 
    border-radius: 8px;
    color: var(--just-white);
}
.plan-card-title-p{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color:  #e9d362;
}
.plan-card-price-p{
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 6.3rem;
    color:  #e9d362;

    font-family: 'DM Sans', sans-serif;
}
.plan-card-price-p span{
    font-size: 5.2rem;
    font-weight: 300;
    left: 50px;
    top: -2px;
}
.plan-card-saving-p{
    font-size: 1.2rem;
    color:  #c0b270;
}
.plan-card-ca-p{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background: linear-gradient(to right, #65654a, #e9d362); 
    border: 2px solid rgb(94, 94, 32);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: rgb(94, 94, 32);
    font-family: 'DM Sans', sans-serif;
}

/*------------------scrool horizontal------------------------------------
    Llamamos la clase del contenedor de las tarjetas con .plans-container–slider.
    display: flex ya nos genera un scroll horizontal, pero se desborda del contenedor y se genera un overflow por fuera.
    Le damos una altura de 316px, mayor al contenedor de las tarjetas.
    Generamos un scroll sobre el eje x con overflow-x: scrol. Esta propiedad establece lo que se muestra cuando el contenido desborda los bordes 
    izquierdo y derecho de un elemento a nivel de bloque. Puede que no sea nada, una barra de desplazamiento o el contenido adicional.
    overscroll-behabior establece lo que hace un navegador cuando alcanza el límite de un área de desplazamiento.
    Para que al deslizarnos sobre las tarjetas la vista se centre en el centro de cada una de ellas como si tuviesen un iman, usamos scroll-snap-type: x proximity.
*/
.plans-container-slider{
    display: flex;
    gap: 20px;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain ;
    scroll-snap-type: x proximity;
}
footer{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}
footer section{
    width: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.left ul{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}
.left li{
    margin: 10px 0;
}
.left a{
    text-decoration: none;
    color: var(--just-white);
}